<div x-show="showCreateModal" class="fixed inset-0 z-50 overflow-auto bg-smoke flex items-center justify-center">
    <div class="modal-container mx-auto">
        <div class="modal-div">
            <div class="modal-header">
                <h5 class="modal-title">Создать группу</h5>
            </div>
            <div class="modal-body">
                {{ template "errors.html" .}}
                <input type="hidden" name="_csrf" value="{{.csrf}}"/>

                <label for="createGroupName">Наименование:</label>
                <input type="text"
                       id="createGroupName"
                       x-on:input="createGroupName = $event.target.value"
                       class="text-input"
                       required
                       autocomplete="editGroupName"
                       autofocus/>
            </div>
            <div class="modal-footer">
                <button @click="createGroup()" class="btn-primary">
                    Создать
                </button>
                <button @click="showCreateModal = false" class="btn-primary">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>