<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="0;url={{.RedirectPath}}">

    <title>Когалым тренажер</title>

    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <link rel="stylesheet" href="public/app.css"/>

    <script src="public/app.js"></script>
</head>
<body>
<p>Перенаправление на <a href="{{.RedirectPath}}">{{.RedirectPath}}</a></p>
</body>
</html>
