{{ template "header.html" .}}
<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
    <div x-data="{ login: '', password: '', error: '', loggedIn: false }"
         class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
        <form x-show="!loggedIn" @submit.prevent="loginApi">
            {{ template "errors.html" .}}
            <input type="hidden" name="_csrf" value="{{.csrf}}">
            <!-- Email Address -->
            <div>
                <label class="block font-medium text-sm text-gray-700" for="login">
                    Логин
                </label>
                <input x-model="login"
                       id="login" type="text" name="login"
                       placeholder="Введите логин" required autofocus
                       class="text-input"/>
            </div>
            <!-- Password -->
            <div class="mt-4">
                <label class="block font-medium text-sm text-gray-700" for="password">
                    Пароль
                </label>
                <input x-model="password"
                       id="password"
                       placeholder="Введите пароль"
                       type="password" name="password" required autocomplete="current-password"
                       class="text-input"/>
            </div>
            <div class="flex items-center justify-end">
                <button type="submit" class="btn-primary">
                    Войти
                </button>
            </div>
        </form>
    </div>
</div>
{{ template "footer.html" .}}